
TP2/TP-02/obj/Debug/TP-02.csproj.AssemblyReference.cache
TP2/TP-02/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TP2/Entidades/obj/Debug/Entidades.csproj.AssemblyReference.cache
TP2/Entidades/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TP2/.vs/Laporte.Marcos.2A.TP2/v16/.suo
